//- dropdown
mixin inputDropdown(attr={}, list=[{}])
	.form-group.pmd-textfield
		label.control-label(for=attr.id) #{attr.title}
		select#employee-status.form-control()&attributes(attr)
			each v in list
				option(value=(v.name || v)) #{v.title || v}

mixin inputDropdownMonth(attr)
	+inputDropdown(attr, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

mixin dropdownIdentityType(attr)
	+inputDropdown(attr, {'national-identity': 'KTP', 'driving-license': 'SIM', 'passport': 'Passport'})

mixin dropdownGender(attr)
	+inputDropdown(attr, {'male': 'Male', 'female': 'Female'})

mixin dateDropdown(min=0, max=30, withTitle=false, customId={day: "join-date-day", month: "join-date-month", year: "join-date-year", title: false})
	.form-group.pmd-textfield
		if customId.title
			label.control-label(for=customId.id) #{customId.title}
		.row
			.col-md-3.col-sm-3.col-xs-3
				.form-group.pmd-textfield
					- var n = 1;
					if withTitle
						label.control-label(for='') Day
					select.form-control(name="day", id=customId.day)
						while n <= 31
							option(value=n) #{ n < 10 ? '0' + n : n }
							- n++
			.col-md-1.col-sm-1.col-xs-1
			.col-md-3.col-sm-3.col-xs-3
				.form-group.pmd-textfield
					- var n = 1;
					if withTitle
						label.control-label(for='') Month
					+inputDropdownMonth({name: 'month', id: customId.month})
					//- select.form-control(name="month", id=customId.month)
					//- 	while n <= 12
					//- 		option(value=n) #{ n < 10 ? '0' + n : n }
					//- 		- n++
			.col-md-1.col-sm-1.col-xs-1
			.col-md-4.col-sm-4.col-xs-4
				.form-group.pmd-textfield
					- var n = parseInt(new Date().getFullYear() - min);
					- var nEnd = parseInt(n) - max;
					if withTitle
						label.control-label(for='') Year
					select.form-control(name="year", id=customId.year)
						while n > nEnd
							option(value=n) #{ n-- }

mixin dropdownBloodType(attr)
	+inputDropdown(attr, ['none', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'])

mixin dropdownReligion(attr)
	+inputDropdown(attr, {'islam': 'Islam', 'crist': 'Cristen', 'catholic': 'Catholic', 'hindu': 'Hindu', 'budha': 'Budha'})

//- radio input
mixin inputRadio(attr, data)
	.form-group.pmd-textfield
		label.control-label(for=attr.id) #{attr.title}
		br
		each val, key in data
			label.radio-inline.pmd-radio(style="padding-top: 10px;")
				input(type='radio' name=attr.name value=key checked=(attr.checked === key))
				span(for='') #{ val }

mixin radioGender(attr)
	+inputRadio(attr, {'male': 'Male', 'female': 'Female'})

//- textfield
mixin inputTextField(attrs)
	.form-group.pmd-textfield
		label.control-label(for=attrs.id) #{attrs.title}
		input.form-control(type="text")&attributes(attrs)

//- checkbox
mixin rippleCheckbox(attr)
	.form-group.pmd-checkbox(style="padding-top: 20px;text-align: right;")
		label.pmd-checkbox.pmd-checkbox-ripple-effect(for=attr.id)
			input.pmd-checkbox-ripple-effect(type='checkbox')&attributes(attr)
			span #{attr.title}

//- textarea
mixin inputTextareaField(attr)
	.form-group.pmd-textfield
		label.control-label(for=attr.id) #{attr.title}
		textarea.form-control()&attributes(attr)

//- buttons
mixin floatingButton(opt)
	button(data-target=opt.dataTarget, data-toggle="modal", class=`btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect ${opt.btnClass || 'btn-primary'}`, style="position: fixed; bottom: 20px; right: 20px;")
		i(class="material-icons pmd-sm") #{opt.icon || 'add'}

mixin rippleButton(attr)
	button.btn.pmd-ripple-effect()&attributes(attr) #{attr.title}

mixin rippleButtonIcon(attr)
	button.btn.pmd-ripple-effect()&attributes(attr)
		i(class="material-icons md-light pmd-sm") #{attr.icon}
